@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,400,300);

::-moz-selection { background: rgba(0,0,0,0.2); }
::selection { background: rgba(0,0,0,0.2); }

/* Skip to line 40 for the hover code */

body {
  background: #fff;
  background-size: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5em;
  margin: 80px 4em 0;
  color: rgb(5, 5, 5);
}
h1 {
  max-width: 49rem;
  font-size: 3.5em;
  line-height: 1em;
  font-weight: 700;
  margin: 0.25em auto;
}
h2 {
  max-width: 49rem;
  margin: 1.4em auto;
}
p {
  line-height: 1.5em;
  margin: 1.4em auto;
  max-width: 49rem;
  font-size: 1.1em;
  font-weight: 300;
}
a{
  text-decoration: none;
  color: black;
}